---
- name: Check mountpoint exist
  ansible.builtin.file:
    path: "{{ mountpoint }}"
    state: directory
    mode: "{{ permission }}"
    owner: root
    group: root

- name: Mount network share
  ansible.posix.mount:
    src: "{{ nfs_src }}"
    path: "{{ mountpoint }}"
    fstype: nfs
    opts: "{{ nfs_opts }}"
    state: mounted

- name: Write .env file for mc-server
  ansible.builtin.copy:
    dest: "{{ docker_directory }}/mc-server/.env"
    content: |
      MINECRAFT_SERVER_DISCORD_BOT_AUTH_TOKEN={{ mc_discord_bot_auth_token }}
      MINECRAFT_SERVER_DISCORD_BOT_CHANNEL_ID={{ mc_discord_bot_channel_id }}
      MINECRAFT_SERVER_DISCORD_INVITE_LINK={{ mc_discord_invite_link }}
      MINECRAFT_SERVER_RCON_PASSWORD={{ mc_rcon_password }}
      MINECRAFT_SERVER_VELOCITY_PROXY_FORWARDING_SECRET={{ mc_velocity_proxy_forwarding_secret }}
    owner: root
    group: root
    mode: '0600'
    force: true # overwrite any existing .env file

- name: Write whitelist.json file for mc-server
  ansible.builtin.copy:
    dest: "{{ docker_directory }}/mc-server/whitelist.json"
    content: "{{ mc_whitelist_json }}"
    owner: root
    group: root
    mode: '0600'
    force: true # overwrite any existing whitelist file

- name: Launch mc-server
  community.docker.docker_compose_v2:
    project_src: "{{ docker_directory }}/mc-server"
    state: present
    pull: always
    recreate: auto
    remove_orphans: true
  become: true
