nas.ppanda.org:443 {
    reverse_proxy https://denabase.scorpion-galaxy.ts.net:5001 {
        header_up Host {upstream_hostport}
        transport http {
            tls_insecure_skip_verify
        }
    }
}

status.ppanda.org:443 {
    reverse_proxy uptime-kuma:3001
}
