services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    container_name: uptime-kuma
    ports:
      - 3001:3001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - uptime-kuma-data:/app/data
    networks:
      - proxy-network
    restart: unless-stopped

volumes:
  uptime-kuma-data:

networks:
  proxy-network:
    external: true
